.header-div{
    width: 100%;
    height: 10%;

    background-color: #ef5350;
    display: grid;
    grid-template-columns: 1fr 8fr;
}
.header-title{
    font-size: 2rem;
    justify-self: end;
    align-self: center;
    margin-right: 3rem;
    color: #fff;
    cursor: pointer;
}
.header-logo{
    align-self: center;
    margin-left: 1rem;
    cursor: pointer;
}